/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p0@css3/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
h1 {
  background-color: #dfdfdf;
  padding: 5px;
  color: #888;
  font-family: Helvetica;
  font-size: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 21, ../sass/screen.scss */
h1 strong {
  font-weight: bold;
}

/* line 24, ../sass/screen.scss */
#logo {
  width: 600px;
  border: 1px solid #dedede;
  margin: 100px auto;
  position: relative;
}

/* line 31, ../sass/screen.scss */
.petal {
  width: 300px;
  height: 60px;
}

/* line 36, ../sass/screen.scss */
#left-petal {
  -moz-transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  transform: rotate(100deg);
}
/* line 38, ../sass/screen.scss */
#left-petal .inside-circle {
  background-color: #e4541e;
}

/* line 43, ../sass/screen.scss */
.inside-circle {
  width: 300px;
  height: 300px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -o-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -khtml-border-radius: 1000px;
  border-radius: 1000px;
  background-color: red;
}

/* line 50, ../sass/screen.scss */
.petal-part {
  width: 300px;
  height: 30px;
  overflow: hidden;
}

/* line 55, ../sass/screen.scss */
.right-petal {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -1px;
}
